<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>
        {% block title %}Admin webmail pannel{% endblock %}
    </title>
    {% block stylesheets %}
        <!--Boostrap-->
        <link rel="stylesheet" href="{{ asset('/css/bootstrap.min.css') }}">
        <!--<link rel="stylesheet" href="{{ asset('/css/bootstrap-theme.min.css') }}">-->
        <!--Animated CSS for Notifications-->
        <link rel="stylesheet" href="{{ asset('/css/animate.css') }}">

        <!--Basic Table-->
        <link rel="stylesheet" href="{{ asset('/css/bootstrap-table.min.css') }}">

        <!--Editable POPUP-->
        <link rel="stylesheet" href="{{ asset('/css/bootstrap-editable.css') }}">

        <!--Popover CSS Style-->
        <link rel="stylesheet" href="{{ asset('/css/popover.css') }}">

    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% block header %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {% include 'AdminWebMailBundle::header.html.twig' %}
    {% endif %}
{% endblock %}

<div class="container">
    {% block body %}
    {% endblock %}
</div>

{% block javascripts %}
    <!--JQUERY-->
    <script type="text/javascript" src="{{ asset('/js/jquery-3.2.0.min.js') }}"></script>
    <!--Boostrap-->
    <script type="text/javascript" src="{{ asset('/js/bootstrap.min.js') }}"></script>
    <!--Notifications-->
    <script type="text/javascript" src="{{ asset('/js/bootstrap-notify.js') }}"></script>

    <!--Basic Table-->
    <script type="text/javascript" src="{{ asset('/js/bootstrap-table.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/locale/bootstrap-table-es-ES.js') }}"></script>

    <!--Editable POPUP-->
    <script type="text/javascript" src="{{ asset('/js/bootstrap-table-editable.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/js/bootstrap-editable.js') }}"></script>

    <!--Export-->
    <script type="text/javascript" src="{{ asset('/libs/FileSaver/FileSaver.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/libs/js-xlsx/xlsx.core.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/libs/jsPDF/jspdf.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/libs/jsPDF-AutoTable/jspdf.plugin.autotable.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/libs/html2canvas/html2canvas.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/js/tableExport.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/js/bootstrap-table-export.js') }}"></script>

    <!--Popover CSS Style-->
    <script type="text/javascript" src="{{ asset('/js/popover.js') }}"></script>

    <!--Notifications public function-->
    <script>
        var notify = {};
        $(document).ready(function () {
            notify = function (message, type, timer) {
                if (timer === undefined) {
                    timer = 2000;
                }
                if (type === undefined) {
                    type = "info";
                }

                $.notifyClose();
                $.notify({
                    message: message
                }, {
                    type: type,
                    timer: timer,
                    newest_on_top: true,
                    z_index: 2031
                });
            }
        });
    </script>
{% endblock %}
</body>
</html>
