{% extends 'AdminWebMailBundle::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <!--Basic Table-->
    <link rel="stylesheet" href="{{ asset('/css/bootstrap-table.min.css') }}">
    <!--Editable POPUP-->
    <link rel="stylesheet" href="{{ asset('/css/bootstrap-editable.css') }}">
    <!--Editable ROW-->
    <link rel="stylesheet" href="{{ asset('/css/bootstrap-editable.css') }}">

{% endblock %}

{% block body %}
    <h1>Hello World!</h1>
    <table id="table"
           data-toolbar="#toolbar"
           data-search="true"
           data-show-refresh="true"
           data-show-toggle="true"
           data-show-columns="true"

           data-show-export="true"

           data-minimum-count-columns="1"
           data-show-pagination-switch="true"
           data-pagination="true"
           data-id-field="id"
           data-page-list="[10, 25, 50, 100, ALL]"
           data-show-footer="false"

           data-url="{{ path('get_users') }}"
    >
    </table>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <!--Basic Table-->
    <script src="{{ asset('/js/bootstrap-table.min.js') }}"></script>
    <script src="{{ asset('/locale/bootstrap-table-es-ES.js') }}"></script>
    <!--Editable POPUP-->
    <script src="{{ asset('/js/bootstrap-table-editable.js') }}"></script>
    <script src="{{ asset('/js/bootstrap-editable.js') }}"></script>


    <script>
        $(document).ready(function () {

            var $table = $('#table'), $remove = $('#remove'), selections = [];

            $('#table').bootstrapTable({
                columns: [{
                    field: 'id',
                    title: 'ID',
                    sortable: true,
                    align: 'center',
                    visible: false
                }, {
                    field: 'email',
                    title: 'Email',
                    sortable: true,
                    editable: {
                        type: 'text',
                        title: 'Email Address',
                        validate: function (value) {
                            value = $.trim(value);
                            if (!value) {
                                return 'This field is required';
                            }
                            if (!/[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?/.test(value)) {
                                return 'Enter valid mail address'
                            }
                            $table.bootstrapTable('showLoading');
                            var data = $table.bootstrapTable('getData'), index = $(this).parents('tr').data('index');
                            console.log(data[index]);
                            console.log("Added: " + value);
                            $table.bootstrapTable('hideLoading');
                            return 'A';
                        }
                    },
                    align: 'center'

                }, {
                    field: 'domain',
                    title: 'Domain',
                    sortable: true,
                    editable: {
                        type: 'select',
                        title: 'Email Address',
                        source: '{{(domains|json_encode|raw)}}',
                        validate: function (value) {
                            console.log("Value inserted: " + value);
                            return '';
                        }
                    },
                    align: 'center'
                },]
            });

        });
    </script>
{% endblock %}

