{% extends 'AdminWebMailBundle::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/css/bootstrap-table.min.css') }}">
{% endblock %}

{% block body %}
    <h1>Hello World!</h1>
    <table id="table"></table>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/js/bootstrap-table.min.js') }}"></script>
    <script src="{{ asset('/locale/bootstrap-table-es-ES.js') }}"></script>

    <script>
        $('#table').bootstrapTable({
            url: '{{ path('get_users') }}',
            columns: [{
                field: 'id',
                title: 'ID'
            }, {
                field: 'email',
                title: 'Email'
            }, {
                field: 'domain',
                title: 'Domain'
            }, ]
        });
    </script>
{% endblock %}

