{% extends 'AdminWebMailBundle::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <!--Basic Table-->
    <link rel="stylesheet" href="{{ asset('/css/bootstrap-table.min.css') }}">
    <!--Editable POPUP-->
    <link rel="stylesheet" href="{{ asset('/css/bootstrap-editable.css') }}">

    <style>
        /* Tooltip */
        .tooltip > .tooltip-inner {
            background-color: #f2dede;
            color: #a94442;
            border: 1px solid #ebccd1;
            padding: 10px;
            font-size: 15px;
        }

        /* Tooltip on top */
        .tooltip.top > .tooltip-arrow {
            border-top: 5px solid #ebccd1;
        }

    </style>
{% endblock %}

{% block body %}
    <h1>Hello World!</h1>
    <div class="row">
        <div class="col-sm-12">
            <div id="toolbar" disabled="disabled">
                <button class="btn btn-success" data-toggle="modal" data-target="#addMailModal">Add Mail</button>
            </div>
            <table id="table"
                   data-toolbar="#toolbar"
                   data-search="true"
                   data-show-refresh="true"
                   data-show-toggle="true"
                   data-show-columns="true"

                   data-show-export="true"
                   data-export-types="['txt','csv','excel','png','pdf']"
                   data-export-data-type="all"

                   data-minimum-count-columns="1"
                   data-show-pagination-switch="true"
                   data-pagination="true"
                   data-id-field="id"
                   data-page-list="[10, 25, 50, 100, ALL]"
                   data-show-footer="false"
                   data-url="{{ path('get_users') }}"
            >
            </table>
        </div>
    </div>


    <!--Modals-->

    <!-- Modal Add Mail -->
    <div id="addMailModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Insert info</h4>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-sm-12">
                            <form>

                                <div class="form-group" id="newEmailTextGroup">
                                    <label class="control-label" for="newEmailText">Email address</label>

                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input id="newEmailText" type="email" class="form-control" placeholder="Email">
                                    </div>
                                </div>

                                <div>
                                    <div class="form-group" id="newPasswordTextGroup1">
                                        <label class="control-label" for="newPasswordText1">Password</label>

                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                            <input id="newPasswordText1" type="password" class="form-control" placeholder="Email">
                                        </div>
                                    </div>

                                    <div class="form-group" id="newPasswordTextGroup2">
                                        <label class="control-label" for="newPasswordText2">Repeat Password</label>

                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                            <input id="newPasswordText2" type="password" class="form-control" placeholder="Email">
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" style="float:left;" id="createMailBtn">Create Mail</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>

        </div>
    </div>
    <!--!End Modals-->
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })

        $(document).ready(function () {
            var $domains = JSON.parse('{{(domains|json_encode|raw)}}');

            var $table = $('#table');
            $table.bootstrapTable({
                columns: [{
                    field: 'id',
                    title: 'ID',
                    sortable: true,
                    align: 'center',
                    visible: false
                }, {
                    field: 'email',
                    title: 'Email',
                    sortable: true,
                    editable: {
                        type: 'text',
                        title: 'Email Address',
                        validate: function (value) {
                            value = $.trim(value);
                            if (!value) {
                                return 'This field is required';
                            }
                            if ((error = checkDomain(value)) != "true") {
                                return error;
                            }
                            $table.bootstrapTable('showLoading');
                            var data = $table.bootstrapTable('getData'), index = $(this).parents('tr').data('index');
                            console.log(data[index]);
                            console.log("Added: " + value);
                            $table.bootstrapTable('hideLoading');
                            return '';
                        }
                    },
                    align: 'center'

                }, {
                    field: 'domain',
                    title: 'Domain',
                    sortable: true,
                    editable: {
                        type: 'select',
                        title: 'Email Address',
                        source: $domains,
                        validate: function (value) {
                            console.log("Value inserted: " + value);
                            return '';
                        }
                    },
                    align: 'center'
                }]
            });


            /*
             * Modal checks
             */

            var errorGlyphicon = '<span class="glyphicon glyphicon-remove form-control-feedback error-label"></span>';

            $("#createMailBtn").click(function () {
                if (checkEmail() && checkRepeatPassword()) {
                    notify("AllOK");
                }
            });


            $("#newEmailText")
                    .blur(function () {
                        checkEmail();
                    })
                    .focus(function () {
                        $(this).parent().parent().removeClass("has-error has-success");
                    });

            function checkEmail() {
                $("#newEmailTextGroup").find(".error-label").remove();
                if ((error = checkDomain($("#newEmailText").val())) == "true") {
                    $("#newEmailTextGroup").addClass("has-success");
                    return true;
                } else {
                    var labelError = '<label class="control-label error-label" for="newEmailText">' + error + '</label>'
                    $("#newEmailTextGroup")
                            .append(labelError)
                            .addClass("has-error");
                    $("#newEmailText").after(errorGlyphicon);
                    return false;
                }
            }

            $("#newPasswordText1, #newPasswordText2")
                    .blur(function () {
                        checkRepeatPassword();
                    })
                    .focus(function () {
                        $("#newPasswordText1, #newPasswordText2").parent().parent().removeClass("has-error has-success");
                    });


            function checkRepeatPassword() {
                $("#newPasswordTextGroup1").parent().find(".error-label").remove();
                if ($("#newPasswordText1").val() == $("#newPasswordText2").val() && $("#newPasswordText1").val() != "") {
                    $("#newPasswordTextGroup1, #newPasswordTextGroup2").addClass("has-success");
                    return true;
                } else {
                    var labelError = '<label class="control-label error-label" for="newEmailText">Not is the same password!</label>';
                    $("#newPasswordTextGroup1, #newPasswordTextGroup2").addClass("has-error");
                    $("#newPasswordText1, #newPasswordText2").after(errorGlyphicon);
                    $("#newPasswordTextGroup2").append(labelError);
                    return false;
                }
            }

            $('#addMailModal').on('hidden.bs.modal', function () {
                $(this).find('input').val("");
                $(this).find('.error-label').remove();
                $(this).find('.has-error, .has-success').removeClass("has-error has-success");
            });


            //Check domain
            function checkDomain(mail) {
                var validMail = new RegExp(/[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?/);
                var find2At = new RegExp(/(@.*){2,}/);
                // Find if mail have two @
                if (!find2At.test(mail)) {
                    // Find if mail is correctly
                    if (validMail.test(mail)) {
                        //Find if domain is in text
                        for (var i = 0, len = $domains.length; i < len; i++) {
                            if (new RegExp('(@' + $domains[i]["text"] + ')$').test(mail)) {
                                return "true";
                            }
                        }
                    } else {
                        return "Insert correctly mail address";
                    }
                } else {
                    return "Error: two @ is not valid";
                }

                // Not domains found
                return "Not valid domain entered";
            }
        });

    </script>
{% endblock %}

